body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Header Styles */
header {
    background-color: #a97272;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

nav .logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: white;
}

/* Main Content Styles */
main {
    padding: 20px;
}

main h1 {
    color: #333;
    text-align: center;
}

main p {
    font-size: 16px;
    color: #333;
}

main a.button {
    display: block;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    margin: 20px 0;
}

/* Section Styles */
section {
    border: 1px solid #ccc;
    padding: 20px;
    margin-top: 20px;
}

section h2 {
    color: #f39c12;
}

section p {
    line-height: 1.5;
}

/* Footer Styles */
footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
}

footer a {
    color: #007BFF;
}
